*{
    margin: 0;
    padding: 0;
}
.main{
    padding-top: 100px;
    margin: auto;
    width: 400px;
    height: 400px;
}
tr,td{
    text-align: center;
}
h1{
    text-align: center;
}
h2{
    color: #ffff;
}
.btn{
    padding: 20px;
    text-align: center;
    width: 400px;
}

.btns{
    width: 80px;
    height: 40px;
}